.tab {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 50px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}
.headTab {
    width: 900px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.showBtn {
    margin: 0 auto;
}

.sort {
    display: flex;
    align-items: center;
}